.ui-button
    width: 3.2rem
    height 3.2rem
    border-radius: 3.2rem
    display: flex
    justify-content: flex-end
    align-items: center
    background: $color.primary
    position: absolute
    bottom: -1.6rem
    right: 2.2rem
    transition: width .2s ease-in-out
    box-shadow: 2px 2px 10px 0 rgba(0, 100, 255, 0.33)
    &:hover
        width: 12rem
    & .text
        display: none
        font-size: 1.2rem
        color: $color.white
        text-transform: uppercase
        font-weight: bold
        padding-left: 1rem
    & .icon
        width: 3.2em
        height: 3.2rem
        display: flex
        justify-content: center
        align-items: center
        & img 
            width: .9rem