.ui-menu
    flex-basis: 60%
    +below(80em)
        flex-basis: 70%
    +below(62em)
        display: none
    & ul
        width: 100%
        margin: 0
        list-style-type: none
        display: flex
        justify-content: space-between
        & a
            font-size: 1.6rem
            font-weight: 600
            color: $color.title
            padding-bottom: 1rem
            position: relative
            display: inline-block
            &:after
                width: 100%
                height: 3px
                border-radius: 2px
                content: '' 
                position: absolute
                bottom: 0
                left: 0
                background: #c4edff
                opacity: 0
                transition: all .2s
            &:hover
                &:after
                    opacity: 1

.header-home
    .ui-menu
        & ul
            & a
                color: $color.white

.open-menu
    font-size: 2.5rem
    color: $color.title
    display: none
    +below(62em)
        display: inline

.header-home
    .open-menu
        color: $color.white
    
.menu-mobile
    width: 30rem
    height: 100vh
    background: $color.primary
    position: fixed
    top: 0
    right: -30rem
    z-index: 2
    padding: 20px
    transition: right .3s ease-in-out
    & .close-menu
        font-size: 1.8rem
        color: $color.white
        margin-bottom: 1rem
        display: block
    & ul
        width: 100%
        margin: 0
        list-style-type: none
        display: flex
        flex-direction: column
        align-items: flex-end
        padding: 1rem 0
        & a
            color: $color.white
            font-size: 1.8rem
            font-weight: 600
            line-height: 4rem
    & form
        width: 100%
        height: 3.5rem
        border-bottom: 1px solid $color.white
        display: flex
        & input 
            width: calc(90% - 1rem)
            padding-right: 1rem
            height: 100%
            background: transparent
            border: none
            font-size: 1.8rem
            color: $color.white
            &::placeholder
                opacity: 1
        & button 
            width: 10%
            display: flex
            justify-content: center
            align-items: center
            font-size: 1.5rem
            color: $color.white
            background: transparent
            border: none 
            padding: 0
            margin: 0
    & .social-links
        width: 100%
        padding: 10px 0 0
        border-top: 1px solid $color.white
        display: flex
        justify-content: center
        & a
            width: 4rem
            height: 4rem
            line-height: 4rem
            text-align: center
            display: inline-block
            font-size: 2rem
            color: $color.white
            background: transparent
            margin-right: 5px
            &:last-child
                margin: 0

.overlay-menu
    width: 100%
    height: 100vh
    background: rgba(0,100,255,0.3)
    position: fixed
    top: 0
    left: 0
    z-index: 1
    transition: .3s
    display: none