.ui-title
    font-size: 2.2rem
    font-weight: 800
    text-transform: uppercase
    color: $color.title
    line-height: 1.2
    padding: 0 9rem 1.5rem 0
    position: relative
    margin: 0
    align-self: flex-start
    &:after
        width: 4rem
        height: 5px
        border-radius: 4px
        content: '' 
        position: absolute
        bottom: 0
        left: 0
        background: $color.primary
        transition: all .2s