.ui-logo
    flex-basis: 30%
    & svg 
        width: 22.3rem
        height: 5.2rem
        object-fit: contain

.header-home
    .ui-logo
        & svg
            & path
                fill: #FEFEFE