.banner
    width: 100%
    height: 76.8rem
    position: relative
    +below(48em)
        height: 48rem
    & img 
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center
    .content
        width: 100%
        height: 100%
        background-color: rgba(0,0,0,0.4)
        position: absolute
        top: 0
        left: 0
    .opacity 
        width: 100%
        height: 100%
        background-color: rgba(0,100,255,0.3)
    .grid-banner
        width: 132rem
        max-width: 100%
        padding: 0 2rem
        height: 100%
        margin: 0 auto
        display: flex
        flex-direction: column
        justify-content: center
        +below(62em)
            align-items: center
    & h1
        width: 39rem
        max-width: 100%
        margin: 0
        font-size: 8rem
        font-weight: 800
        color: $color.white
        line-height: 1
        +below(62em)
            text-align: center
            font-size: 7rem
        +below(48em)
            font-size: 4rem
        & span 
            color: #c4edff
    & p
        width: 39rem
        max-width: 100%
        font-size: 2.1rem
        color: $color.white
        font-family: 'Source Sans Pro'
        margin-top: 2rem
        +below(62em)
            text-align: center
            font-size: 1.8rem