.blog-home
    width: 100%
    padding: 10rem 0 7rem
    background: url('../img/bg-blog-home.jpg') bottom left no-repeat #0055dc;
    +below(62em)
        padding: 5rem 0

.grid-blog-home
    width: 100%
    display: flex
    justify-content: space-between
    +below(1150px)
        flex-wrap: wrap
    & .left
        flex-basis: 14%
        +below(1150px)
            flex-basis: 100%
            margin-bottom: 3rem
        & h2
            font-size: 9rem
            font-weight: 800
            color: $color.white
            +below(62em)
                font-size: 6em
        & a
            font-size: 1.4rem
            font-weight: 600
            padding-bottom: 1rem
            color: $color.white
            text-transform: uppercase
            display: inline-block
            position: relative
            margin-top: 2rem
            &:after
                width: 100%
                height 2px
                content: ''
                position: absolute
                bottom: 0
                left: 0
                background: #c4edff
    
    & .right
        flex-basis: 90rem
        +below(1150px)
            flex-basis: 100%
        & .post
            width: 100%
            display: block
            padding: 1rem
            display: flex
            border-radius: 5px
            transition: .3s
            margin-bottom: 3rem
            +below(35em)
                flex-wrap: wrap
            &:hover
                background: #0069f7
            & figure
                width: 41rem
                height: 24rem
                border-radius: 5px
                overflow: hidden
                +below(48em)
                    width: 50%
                +below(35em)
                    width: 100%
                & img 
                    width: 100%
                    height 100%
                    object-fit: cover
                    object-position: center 
            & .info
                flex: 1
                padding: 0 2rem 0 3rem
                display: flex
                flex-direction: column
                justify-content: center
                +below(35em)
                    padding: 2rem 0
                & span
                    font-size: 1.4rem
                    font-weight: 600
                    color: $color.white
                    text-transform: uppercase
                    margin-bottom: 1.5rem
                & h3
                    font-size: 3rem
                    font-weight: 800
                    color: $color.white
                    margin-bottom: 1.5rem
                    +below(48em)
                        font-size: 2.2rem
                & p
                    font: 1.8rem/1.67 'Source Sans Pro'
                    color: $color.white
                    +below(48em)
                        font-size: 1.6rem