.courses-next
    width: 100%
    padding: 10rem 0
    padding-left: calc((100% - 1320px) / 2)
    padding-right: 7rem
    display: flex
    position: relative
    +below(62em)
        height: 60rem
        padding: 5rem 2rem
        flex-direction: column
    .ui-title
        margin-left: 2rem
        +below(62em)
            width: 100%
            margin-bottom: 3rem
            margin-left: 0
    .carousel
        flex: 1
        height: 43rem
        overflow: hidden
        position: relative
        padding-bottom: 2rem 
        .owl-stage-outer
            height: 100%
        .owl-stage
            display: flex
            justify-content: space-between
            height: 100%
            position: absolute
            top: 0
            left: -10rem
            +between(1050px, 1150px)
                left: -5rem
            +below(1050px)
                left: -12rem
            +below(992px)
                left: 0
        .owl-nav, .owl-dots
            display: none
    
    .overlay
        width: 30rem
        height: 100%
        background: linear-gradient(to right, rgba(255,255,255,0.3), rgba(255,255,255,1))
        position: absolute
        top: 0
        right: 0
        +below(62em)
            display: none

.course
    width: 33rem
    padding: 3rem
    display: flex
    flex-direction: column    
    border-radius: 5px
    border: 1px solid #e6e6e6;
    position: relative
    transition: .2s
    +below(48em)
        width: 100%
    & .date
        font-size: 1.3rem
        color: $color.text
        font-weight: 500
    & h3
        font-size: 2.9rem
        color: $color.title
        height: 11rem
        margin: 1rem 0 0
        font-weight: 800
    & p 
        font-size: 1.7rem
        color: $color.text
        margin: 2.5rem 0
        font-family: 'Source Sans Pro'
    & .teacher
        width: 100%
        display: flex
        & .image
            width: 6rem
            height 6rem
            border-radius: 6rem
            overflow: hidden
            & img 
                width: 100%
                height: 100%
                object-fit: cover
                object-position: center
        & .teacher-name
            padding: 0.5rem 0 0 1.5rem
            font-size: 1.7rem
            font-weight: 800
            color: $color.title
            i 
                font-style: normal
                color: $color.text
                font-size: 1.3rem
                font-weight: normal