.courses-teachers
    width: 100%
    padding: 10rem 0
    border-top: 1px solid #e6e6e6
    +below(62em)
        padding: 5rem 0

.grid-teachers
    width: 100%
    display: flex
    justify-content: space-between
    padding: 7rem 0
    +below(62em)
        flex-wrap: wrap
        padding: 0
    & .box
        width: 25rem
        display: flex
        flex-direction: column
        align-items: center
        +below(62em)
            width: 48%
            &:first-child
                margin-top: 3rem
        +below(35em)
            width: 100%
            padding-bottom: 2rem
        .image
            width: 19rem
            height: 19rem
            position: relative
            display: flex
            justify-content: center
        & figure
            width: 19rem
            height: 19rem
            padding: 1rem
            border-radius: 18rem
            & img 
                width: 100%
                height: 100%
                object-fit: cover
                object-position: center
        .ui-button
            bottom: 1.5rem
            right: 2.5rem
            & img 
                width: 1.1rem
            &:hover
                width: 8rem
        & h3
            text-align: center
            font-weight: 800
            font-size: 2.6rem
            margin: 3rem 0
        & p
            font: 1.6rem/1.75 'Source Sans Pro' 
            color: $color.text
            text-align: center
        