.courses-test
    width: 110rem
    max-width: 100%
    height: 51rem
    margin: 10rem auto
    display: flex
    +below(62em)
        flex-direction: column-reverse
        height: auto
        margin: 5rem 0
    & figure
        width: 50%
        border-radius: 5px
        +below(62em)
            display: none
        & img 
            width: 100%
            height: 100%
            object-fit: cover
            object-position: center 
    
    & .text
        flex: 1
        padding: 6rem
        +below(62em)
            padding: 2rem
        & span 
            font-size: 1.3rem
            font-weight: 600
            text-transform: uppercase
            color: $color.text
            +below(62em)
                display: block
                text-align: center
        & h2
            font-size: 6rem
            color: $color.title
            font-weight: 800
            margin: 1rem 0 3rem
            +below(48em)
                font-size: 4em
                text-align: center
        & p
            font: 2.1rem/1.67 'Source Sans Pro'
            color: $color.text
            max-width: 90%
            +below(62em)
                max-width: 100%
                text-align: center
        & a
            width: 21.3rem
            height: 5.5rem
            border-radius: .5rem
            background-color: $color.primary
            box-shadow: .5rem .5rem 1rem 0 rgba(0, 100, 255, 0.33)
            text-transform: uppercase
            display: block
            text-align: center
            color: $color.white
            font-size: 1.4rem
            font-weight: 600
            line-height: 5.5rem
            margin-top: 4rem
            transition: .3s
            +below(62em)
                margin: 4rem auto 0
            &:hover
                background: $color.primaryhover