.courses-about
    width: 170rem
    max-width: 100%
    margin: 0 auto
    background: #f2f5f9
    padding: 2rem 0
    display: flex
    justify-content: center
    +below(62em)
        flex-wrap: wrap
        width: calc(100% - 40px)
    & .box
        display: flex
        flex-direction: column
        align-items: center
        padding: 0 5rem
        margin-top: 5rem
        +below(62em)
            &:last-child
                width: 100%
                margin-bottom: 5rem
        & img 
            max-width: 100%
        h3
            font-size: 3rem
            color: $color.title
            text-align: center
            padding: 3rem 0
        p
            font-size: 1.7rem
            line-height: 1.76
            color: $color.text
            max-width: 28rem
            text-align: center
            font-family: 'Source Sans Pro'