.footer
    width: 100%
    padding: 8rem 0 0
    background: #f2f5f9

.grid-footer
    width: 70rem
    max-width 90%
    display: flex
    position: relative
    margin: 0 auto
    padding-bottom: 8rem
    .top
        width: 100%
        display: flex
        +below(35em)
            flex-wrap: wrap
    .menu-footer
        flex-basis: 57%
        display: flex
        +below(35em)
            flex-basis: 100%
            justify-content: center
            margin-bottom: 3rem
        & ul
            margin: 0
            list-style-type: none
            padding: 0
            &:first-child
                padding-right: 8rem
            & li
                margin-bottom: 1.5rem
            & a
                font-size: 1.4rem
                font-weight: 600
                color: $color.text
                +below(35em)
                    text-align: center
                    display: block
    .info
        flex-basis: 43%
        display: flex
        flex-direction: column
        align-items: center
        +below(35em)
            flex-basis: 100%
        .logo
            width: 20.4rem
            & img 
                width: 100%
                height: 4.6rem
        .social-links
            width: 20.4rem
            height: 4rem
            display: flex
            justify-content: space-between
            margin-top: 2rem
            & a
                width: 4rem
                height: 4rem
                line-height: 4rem
                text-align: center
                display: inline-block
                font-size: 2rem
                color: $color.white
                background: #a6aeb5
                transition: .3s
                &:hover
                    background: $color.primary

    .bottom
        position: absolute
        bottom: 0
        right: 0
        padding: 1rem 1.5rem
        background: $color.white
        border-radius: 5px 5px 0 0
        +below(35em)
            transform: translateX(-50%)
            right: auto
            left: 50%
            width: 30rem
        & p
            font-size: 1.2rem
            color: $color.text
            text-align: center