.header
    width: 100%
    position: absolute
    z-index: 1
    top: 0
    left: 0
    transition: top 0.2s ease-in-out
    .grid-header
        width: 100%
        height 11rem
        display: flex
        justify-content: space-between
        align-items: center