// =============================================================================
// Config variables.
// =============================================================================
// Define here your global variables.
//
// Your variables should start with `$`, like the examples below.
// =============================================================================

// Breakpoints
// -----------

$bp = {
  lg: 1024px,
  md: 800px,
  sm: 600px,
  xs: 400px
}

// Colors
// ------

$color = {}

// Main colors
$color.primary = #0069f7
$color.primaryhover = #0053c4
$color.success = #2ecc71
$color.danger = #e74c3c
$color.warning = #f1c40f
$color.info = #22A7F0
$color.title = #2b3340
$color.text = #606875

// Social colors
$color.facebook = #3b5998
$color.twitter = #55acee
$color.google = #dd4b39
$color.youtube = #bb0000
$color.linkedin = #007bb5

// Gray shades
$color.gray-light = #eee
$color.gray-medium = #ddd
$color.gray-dark = #aaa
$color.gray-x-dark = #666
$color.gray-x-x-dark = #333

// Basic colors
$color.white = #fff
$color.black = #000

// Container
// ---------

$container = {
  width: 132rem
  padding: 2rem
}

// Spacing
// -------

$spacing = {
  none: 0,
  x-x-small: 3px,
  x-small: 5px,
  small: 10px
  normal: 15px,
  medium: 20px,
  large: 25px,
  x-large: 30px,
  x-x-large: 35px,
  huge: 40px,
  x-huge: 45px,
  x-x-huge: 50px
}

// Font Family
// -----------

$font-family = {
  primary: 'Barlow'\, sans-serif,
  secondary: 'Georgia'\, serif
}

// Font size
// ---------

$font-size = {
  x-small: 12px,
  small: 14px,
  normal: 16px,
  medium: 18px,
  large: 24px,
  x-large: 30px,
  x-x-large: 36px,
  huge: 40px
}

// Icon selector
// -------------

$icon-selector = '[class^="icon-"]'
