.courses-main
    flex 1
    display flex
    flex-wrap: wrap
    justify-content: space-between
    padding-left 5rem
    .course
        width 31.5rem
        margin-bottom 5rem
        h3
            font-size: 2.8rem