.course-filter
    flex-basis 20rem
    margin-top 12rem
    h2
        font-size 2.2rem
        color: $color.title
        padding-bottom .5rem
        border-bottom: 2px solid $color.title
    .list
        width 100%
        padding: 2rem 0
        border-bottom: 1px solid #e6e6e6
        &:last-child
            border: none
        h3
            font-size 1.4rem
            text-transform uppercase
            color: $color.title
            margin-bottom 2rem
        ul
            list-style-type none
            padding 0
        li
            display flex
            align-items: center
            margin-bottom 1.5rem
        .checkbox
            width 2rem
            height 2rem
            border-radius 5px
            border: 1px solid #cbcbcb
            display flex
            justify-content: center
            align-items: center
            font-size 1.5rem
            color: #fff
        label
            font-size 1.5rem
            color: $color.text
            margin-left 1rem