.order
    width 100%
    display flex
    justify-content: space-between
    margin 5rem 0 3rem
    .counter
        font-size 1.4rem
        color: $color.text
        strong 
            color: $color.title
    .select-order
        display flex
        align-items: center
        position relative
        span
            font-size: 1.3rem
            color: $color.text
        select 
            width 18rem
            height 4rem
            border-radius 5px
            border 1px solid #cbcbcb
            background transparent
            appearance none
            -moz-appearance: none
            -webkit-appearance: none
            margin-left 1rem
            font-size 1.5rem
            color: $color.text
            padding 0 1rem
        &:after
            content: "\f107"
            font: normal normal normal 1.8rem/1 FontAwesome
            text-rendering: auto
            position absolute
            top 50%
            right 1rem
            color: $color.primary
            display: inline-block
            pointer-events: none
            transform translateY(-50%)