.box-blog
    width 100%
    height 39rem
    padding 0 20px
    display flex
    flex-direction: column
    justify-content: center
    align-items: center
    background: url('../img/bg-box-blog.jpg') bottom left no-repeat $color.primary
    h2
        font-size: 7rem
        color: $color.white
        margin-bottom 2rem
        text-align center
        +below(62em)
            font-size 5rem
    p
        font: 2.3rem/1.65 'Source Sans Pro'
        color: $color.white
        margin-bottom 3rem
        +below(62em)
            font-size 1.8rem
    a
        width 23rem
        height 5.5rem
        background: #1b3057
        box-shadow: 5px 5px 10px 0 rgba(37, 52, 75, 0.31)
        border-radius 5px
        display block
        font-size 1.4rem
        color: $color.white
        text-transform uppercase
        text-align center
        line-height 5.5rem