.text-box
    width 74rem
    max-width 100%
    margin 0 auto
    padding 0 2rem
    p
        font-size 2.1rem
        line-height 1.81
        font-family 'Source Sans Pro'
        color: $color.text
        margin-bottom 2rem