.title-internal
    width: 100%
    height: 31.5rem
    padding: 3rem 2rem
    display: flex 
    align-items: flex-end
    justify-content: center
    background: #f2f5f9
    +below(48em)
        height 25rem
    h1
        font-size: 7rem
        font-weight: bold
        color: $color.title
        +below(48em)
            font-size 4rem