.box-school
    width 112rem
    max-width: 100%
    height 50rem
    display flex
    border-radius 5px
    margin 0 auto
    overflow hidden
    +below(62em)
        height auto
    figure
        flex-basis 45%
        +below(62em)
            display none
        img 
            width 100%
            height 100%
            object-fit: cover
            object-position: center
    .box-text
        flex-basis 55%
        background: $color.title
        padding 4rem 6rem
        +below(62em)
            width 100%
            flex-basis auto
            padding 4rem 2rem
        h2
            font-size 5rem
            font-weight 800
            width 45rem
            color: $color.white
            +below(62em)
                font-size 4rem
                width auto
                text-align center
        p
            font: 2.1rem/1.81 'Source Sans Pro'
            color: $color.white
            margin-top 3rem