.box-methods
    padding 7.5rem 2rem 10rem
    background-color: #f2f5f9
    .grid-methods
        width 70rem
        max-width 100%
        margin 0 auto
    h2
        font-size 5rem
        font-weight 800
        color: $color.title
        margin-bottom 3rem
        +below(62em)
            font-size 4rem
    ul
        list-style-type none
        padding 0
        li
            display flex
            margin-bottom 4rem
            +below(62em)
                margin-bottom 2.5rem
        .icon
            width 6rem
            padding-top 7px
        .text
            font: 2.1rem/1.81 'Source Sans Pro'
            color: $color.text
            strong
                color: $color.title