.box-top
    width 100%
    border-bottom 2px solid #e6e6e6

.grid-whoweare
    width 100%
    height 30rem
    display flex
    align-items: flex-end
    +below(1050px)
        flex-direction column
        align-items: center
        height auto
    h2
        font-size 3.5rem
        line-height 1.14
        color: $color.title
        width 30rem
        position relative
        padding-bottom 3rem
        +below(1050px)
            text-align center
            margin 2rem 0
        +below(48em)
            font-size 2.5rem  
            padding-bottom 2rem  
        &:after
            content: ''
            width 5rem
            height 6px
            border-radius 8px
            background: $color.primary
            position absolute
            bottom 0
            left 0
            +below(1050px)
                left 50%
                transform translateX(-50%)                
        span
            color: $color.primary
    figure
        height 100%
        display flex
        justify-content: center
        align-items: flex-end
        position relative
    a
        position absolute
        bottom -1.8rem
        left 50%
        transform translateX(-50%)
        width 28.5rem
        height 5.5rem
        line-height 5.5rem
        text-align center
        border-radius 5px
        background: $color.primary
        display block
        box-shadow: 5px 5px 10px 0 rgba(0, 100, 255, 0.33)
        font-size 1.4rem
        color: $color.white
        text-transform uppercase
        transition: .3s
        &:hover
            background: $color.primaryhover

.text-entry-about
    margin 9rem 0 8rem
    +below(48em)
        margin 5rem 0

.text-end-about
    margin 5rem 0 8rem